body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}

#newtabnotes-editor {
  width: 100vw;
  height: 100vh;
  font-family: "Fira Code", "Fira Mono", monospace;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  font-size: 1em;
}
